In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../collect_data/data/air_quality/shanghai.csv")
df.head()

        date  pm25  pm10   o3  no2  so2  co
0  2024/11/1    25    45   47   10    3   5
1  2024/11/2   106    56   48   18    4   7
2  2024/11/3   140    49   62   16    4   6
3  2024/11/4   127    22   33    9    3   3
4  2024/11/5    49    20   36   11    3   3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3887 entries, 0 to 3886
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3887 non-null   object
 1    pm25   3887 non-null   object
 2    pm10   3887 non-null   object
 3    o3     3887 non-null   object
 4    no2    3887 non-null   object
 5    so2    3887 non-null   object
 6    co     3887 non-null   object
dtypes: object(7)
memory usage: 212.7+ KB

# Check missing value rate

In [4]:
missing_ratio = df.isnull().mean() * 100

print("Missing ratio (%)")
print(missing_ratio)

Missing ratio (%)
date     0.0
 pm25    0.0
 pm10    0.0
 o3      0.0
 no2     0.0
 so2     0.0
 co      0.0
dtype: float64

In [5]:
df_filtered = df[df['date'].str.startswith('2022')].reset_index(drop=True)
df_filtered.shape

(365, 7)

In [6]:
import os
os.makedirs("../collect_data/filtered/air_quality")
df_filtered.to_csv("../collect_data/filtered/air_quality/shanghai_2022.csv", index=False)